body {
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    display: grid;
    grid-template-columns: 150px 500px 500px;
    grid-template-rows: auto 300px 300px;
    grid-gap: 1px;
    background-color: #fff;
    color: #444;
}

.box {
    background: linear-gradient(#444, #ccc);
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    font-size: 150%;
}
.satLabel{
    
}
.clearBox {
    background-color: white;
    color: white;
    padding: 20px;
}
.sat1{

}
.sat2{

}
.sat3{

}
.sat4{

}
.statusUP{
    background: linear-gradient(darkgreen,green);
}
.statusDOWN{
    background: linear-gradient(darkred,red);
}