<!--The content below is only a placeholder and can be replaced.-->
<div class="topBanner">
  <img class="logo" src="./assets/metOfficeLogo.png" alt="Welcome to Met Office Satellite Monitor">
  <span class="title">{{ title }}</span>
</div>
<div class="wrapper">
  <div class="clearBox"></div>
  <div class="box satLabel"><img src="./assets/polar.jpg" height="75px"/><span>Polar</span></div>
  <div class="box satLabel"><img src="./assets/geo.jpg" height="75px"/><span>Geo</span></div>
  <div class="box hallLabel"><p>IT Hall 1</p></div>
  <div class="box sat1" [ngClass]="{'statusUP':satInfo[0].status=='OK', 'statusDOWN':satInfo[0].status=='ERROR'}" (click)="onSelect(0)">
    {{satInfo[0].name}}
    <div *ngIf="!satBox[0]">
      <p>Receiving State: {{satInfo[0].status}}</p>
  </div>
    <div *ngIf="satBox[0]">
      <p>Receiving Detail: {{satInfo[0].details}}</p>
      <p>Last Signal: {{satInfo[0].lastConnect}}</p>
    </div>
  </div>
  <div class="box sat2" [ngClass]="{'statusUP':satInfo[1].status=='OK', 'statusDOWN':satInfo[1].status=='ERROR'}" (click)="onSelect(1)">
    {{satInfo[1].name}}
    <div *ngIf="!satBox[1]">
      <p>Receiving State: {{satInfo[1].status}}</p>
    </div>
    <div *ngIf="satBox[1]">
      <p>Receiving Detail: {{satInfo[1].details}}</p>
      <p>Last Signal: {{satInfo[1].lastConnect}}</p>
    </div>
  </div>
  <div class="box hallLabel"><p>IT Hall 2</p></div>
  <div class="box sat3" [ngClass]="{'statusUP':satInfo[2].status=='OK', 'statusDOWN':satInfo[2].status=='ERROR'}" (click)="onSelect(2)">
    {{satInfo[2].name}}
    <div *ngIf="!satBox[2]">
      <p>Receiving State: {{satInfo[2].status}}</p>
    </div>
    <div *ngIf="satBox[2]">
      <p>Receiving Detail: {{satInfo[2].details}}</p>
      <p>Last Signal: {{satInfo[2].lastConnect}}</p>
    </div>
  </div>
  <div class="box sat4" [ngClass]="{'statusUP':satInfo[3].status=='OK', 'statusDOWN':satInfo[3].status=='ERROR'}" (click)="onSelect(3)">
    {{satInfo[3].name}}
    <div *ngIf="!satBox[3]">
      <p>Receiving State: {{satInfo[3].status}}</p>
    </div>
    <div *ngIf="satBox[3]">
      <p>Receiving Detail: {{satInfo[3].details}}</p>
      <p>Last Signal: {{satInfo[3].lastConnect}}</p>
    </div>
  </div>
</div>