<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class='table'>
  <div class='header'>Satellite Status Monitor</div>
  <div class='row'>
    <div class="cell sat1" [ngClass]="'statusUP'">
      Satellite 1
    </div>
    <div class="cell sat2" [ngClass]="'statusUP'">
      Satellite 2
    </div>
  </div>
  <div class='row'>
    <div class="cell sat3" [ngClass]="'statusUP'">
      Satellite 3
    </div>
    <div class="cell sat4" [ngClass]="'statusUP'">
      Satellite 4
    </div>
  </div>
</div>