<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Enter PIN</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">PIN Number:</label>
        <div class="input-group">
          <input id="pin1" class="form-control" placeholder="." name="pin1">
          <input id="pin2" class="form-control" placeholder="." name="pin2">
          <input id="pin3" class="form-control" placeholder="." name="pin3">
          <input id="pin3" class="form-control" placeholder="." name="pin4">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<hr>

<pre>{{closeResult}}</pre>